<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration user</title>
    <link rel="stylesheet" href="../css/styleRegistration.css">

</head>
<body>

//https://html5css.ru/howto/default.php
//https://www.tutorialspoint.com/spring/spring_static_pages_example.htm

    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>

        <hr>
        <label name="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email">

        <label name="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw">

        <label name="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat">
        <hr>

        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="../templates/user-login.html">Sign in</a>.</p>
    </div>


</body>
</html>